.container {
  display: flex;
  justify-content: space-between;
}

.name {
  text-align: center;
}


.orders {
  border: 1px solid black;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}